# State
- name: 'systemair_selected_modus'
  icon: 'mdi:clipboard-list-outline'
  state: >-
    {% if states('sensor.vsr500_modus')|int == 0 %}
      Auto
    {% elif states('sensor.vsr500_modus')|int == 1  %}
      Manuell
    {% elif states('sensor.vsr500_modus')|int == 2  %}
      Party
    {% elif states('sensor.vsr500_modus')|int == 3  %}
      Boost
    {% elif states('sensor.vsr500_modus')|int == 4  %}
      Ildsted
    {% elif states('sensor.vsr500_modus')|int == 5  %}
      Borte
    {% elif states('sensor.vsr500_modus')|int == 6  %}
      Ferie
    {% elif states('sensor.vsr500_modus')|int == 7 %}
      Avtrekksvifte
    {% elif states('sensor.vsr500_modus')|int == 8 %}
      Støvsuger
    {% elif states('sensor.vsr500_modus')|int == 9 %}
      CDI1
    {% elif states('sensor.vsr500_modus')|int == 10 %}
      CDI2
    {% elif states('sensor.vsr500_modus')|int == 11 %}
      CDI3
    {% elif states('sensor.vsr500_modus')|int == 12 %}
      Komfyravtrekk
    {% else %}
      N/A
    {% endif %}

- name: 'systemair_filter_change'
  icon: 'mdi:air-filter'
  unit_of_measurement: "dager"
  state: >-
    {% set time = states.sensor.vsr500_air_filter_countdown_s.state | int %}
    {% set days = (time / 86400) | int %}
    {{ days | int }}

- name: 'systemair_modus_countdown'
  icon: 'mdi:timer'
  state: >-
    {% if states('sensor.vsr500_modus') in('2', '3', '4', '6') %}
      {% set time = states.sensor.vsr500_modus_countdown_s.state | int %}
      {% set minutes = ((time % 3600) / 60) | int %}
      {% set hours = ((time % 86400) / 3600) | int %}

      {%- if time < 60 -%}
        Under 1 minutt
        {%- else -%}
        {%- if hours > 0 -%}
            {{ hours }}t
          {%- endif -%}
        {%- if minutes > 0 -%}
          {%- if hours > 0 -%}
            {{ ' ' }}
          {%- endif -%}
          {{ minutes }}m
        {%- endif -%}
      {%- endif -%}
    {% else %}
      Inaktiv
    {% endif %}

- name: 'systemair_air_flow'
  icon: 'mdi:weather-windy'
  state: >-
    {% if is_state("sensor.vsr500_modus_manual_air_flow", "0") %}
      Stopp
    {% elif is_state("sensor.vsr500_modus_manual_air_flow", "2") %}
      Lav
    {% elif is_state("sensor.vsr500_modus_manual_air_flow", "3") %}
      Normal
    {% elif is_state("sensor.vsr500_modus_manual_air_flow", "4") %}
      Høy
    {% else %}
      N/A
    {% endif %}

# Temperature
- name: 'systemair_temperature_intake'
  icon: 'mdi:home-import-outline'
  device_class: 'temperature'
  state_class: 'measurement'
  unit_of_measurement: '°C'
  state: >-
    {{ states('sensor.vsr500_temperature_intake') | float | round(2) }}

- name: 'systemair_temperature_exhaust'
  icon: 'mdi:home-export-outline'
  device_class: 'temperature'
  state_class: 'measurement'
  unit_of_measurement: '°C'
  state: >-
    {{ states('sensor.vsr500_temperature_exhaust') | float | round(2) }}

- name: 'systemair_temperature_return'
  icon: 'mdi:cached'
  device_class: 'temperature'
  state_class: 'measurement'
  unit_of_measurement: '°C'
  state: >-
    {{ states('sensor.vsr500_temperature_return') | float | round(2) }}

- name: 'systemair_temperature_supply_air'
  icon: 'mdi:home-thermometer-outline'
  device_class: 'temperature'
  state_class: 'measurement'
  unit_of_measurement: '°C'
  state: >-
    {{ states('sensor.vsr500_temperature_supply_air') | float | round(2) }}

- name: 'systemair_temperature_target'
  icon: 'mdi:thermometer'
  device_class: 'temperature'
  state_class: 'measurement'
  unit_of_measurement: '°C'
  state: >-
    {{ states('sensor.vsr500_temperature_target') | float | round(2) }}

- name: 'systemair_temperature_over_heat'
  icon: 'mdi:car-defrost-rear'
  device_class: 'temperature'
  state_class: 'measurement'
  unit_of_measurement: '°C'
  state: >-
    {{ states('sensor.vsr500_temperature_over_heat') | float | round(2) }}

# Fan
- name: 'systemair_fan_speed_intake'
  icon: 'mdi:fan'
  device_class: 'power_factor'
  state_class: 'measurement'
  unit_of_measurement: '%'
  state: >-
    {{ states('sensor.vsr500_fan_speed_intake') }}

- name: 'systemair_fan_speed_exhaust'
  icon: 'mdi:fan'
  device_class: 'power_factor'
  state_class: 'measurement'
  unit_of_measurement: '%'
  state: >-
    {{ states('sensor.vsr500_fan_speed_exhaust') }}

# Usage
- name: 'systemair_heat_recovery'
  icon: 'mdi:car-defrost-rear'
  device_class: 'power_factor'
  state_class: 'measurement'
  unit_of_measurement: '%'
  state: >-
    {{ states('sensor.vsr500_heat_recovery') }}
