- name: 'tibber_grid_company'
  icon: 'mdi:transmission-tower'
  state: >-
    {{ state_attr('sensor.electricity_price_soholsgata_71', 'grid_company') }}

- name: 'tibber_eac'
  icon: 'mdi:chart-line'
  device_class: 'energy'
  unit_of_measurement: "kWh"
  state: >-
    {{ state_attr('sensor.electricity_price_soholsgata_71', 'estimated_annual_consumption') }}

- name: 'tibber_price_min'
  icon: 'mdi:currency-usd'
  unit_of_measurement: "NOK/kWh"
  state: >-
    {{ state_attr('sensor.electricity_price_soholsgata_71', 'min_price') }}

- name: 'tibber_price_avg'
  icon: 'mdi:currency-usd'
  unit_of_measurement: "NOK/kWh"
  state: >-
    {{ state_attr('sensor.electricity_price_soholsgata_71', 'avg_price') }}

- name: 'tibber_price_max'
  icon: 'mdi:currency-usd'
  unit_of_measurement: "NOK/kWh"
  state: >-
    {{ state_attr('sensor.electricity_price_soholsgata_71', 'max_price') }}



#REALTIME
- name: 'tibber_real_time_w'
  icon: 'mdi:flash'
  device_class: 'power'
  state_class: 'measurement'
  unit_of_measurement: "W"
  state: >-
    {{ states('sensor.power_soholsgata_71') }}

- name: 'tibber_real_time_w_avg'
  icon: 'mdi:flash'
  device_class: 'power'
  state_class: 'measurement'
  unit_of_measurement: "W"
  state: >-
    {{ states('sensor.average_power_soholsgata_71') }}

- name: 'tibber_accumulated_consumption'
  icon: 'mdi:chart-line'
  device_class: 'energy'
  state_class: 'measurement'
  unit_of_measurement: "kWh"
  state: >-
    {{ states('sensor.accumulated_consumption_soholsgata_71') | float | round(2) }}

- name: 'tibber_accumulated_cost'
  icon: 'mdi:cash-multiple'
  state_class: 'measurement'
  unit_of_measurement: "NOK"
  state: >-
    {{ states('sensor.accumulated_cost_soholsgata_71') | float | round(2) }}

- name: 'tibber_real_time_l1'
  icon: 'mdi:flash-auto'
  device_class: 'current'
  state_class: 'measurement'
  unit_of_measurement: "A"
  state: >-
    {{ states('sensor.current_l1_soholsgata_71') | float | round(2) }}

- name: 'tibber_real_time_l2'
  icon: 'mdi:flash-auto'
  device_class: 'current'
  state_class: 'measurement'
  unit_of_measurement: "A"
  state: >-
    {{ states('sensor.current_l2_soholsgata_71') | float | round(2) }}

- name: 'tibber_real_time_l3'
  icon: 'mdi:flash-auto'
  device_class: 'current'
  state_class: 'measurement'
  unit_of_measurement: "A"
  state: >-
    {{ states('sensor.current_l3_soholsgata_71') | float | round(2) }}

- name: 'tibber_real_time_voltage_phase'
  icon: 'mdi:waveform'
  device_class: 'voltage'
  state_class: 'measurement'
  unit_of_measurement: "V"
  state: >-
    {% set power = [
          states("sensor.voltage_phase1_soholsgata_71") | float,
          states("sensor.voltage_phase2_soholsgata_71") | float,
          states("sensor.voltage_phase3_soholsgata_71") | float
    ] %}
    {{ power | list | sum / 3 | round(1) }}

- name: 'tibber_last_meter_consumption'
  icon: 'mdi:counter'
  device_class: 'energy'
  unit_of_measurement: "kWh"
  state: >-
    {{ states('sensor.last_meter_consumption_soholsgata_71') | float | round(2) }}

- name: 'tibber_grid_rent'
  icon: 'mdi:cash-multiple'
  unit_of_measurement: "NOK"
  state: >-
    {{
      (float(states('sensor.tibber_accumulated_consumption')) *
      (
        float(states('input_number.rik_consumption_tax'))
        + float(states('input_number.rik_energy_fund_cost'))
        + float(states('input_number.rik_energy_transfer_cost'))
      )
      + float(states('input_number.rik_daily_cost'))) | round(2)
    }}

- name: 'tibber_total_cost'
  icon: 'mdi:cash-multiple'
  unit_of_measurement: "NOK"
  state: >-
    {{ (float(states('sensor.tibber_accumulated_cost')) + float(states('sensor.tibber_grid_rent'))) | round(2) }}

- name: 'tibber_pulse_wifi_signal_strength'
  icon: 'mdi:wifi'
  device_class: 'signal_strength'
  unit_of_measurement: "dB"
  state: >-
    {{ states('sensor.signal_strength_soholsgata_71') }}
